*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: rgb(240, 240, 240); */
    
}


header{
    height: 75px;
    background-color: rgb(240, 240, 240);
    padding: 0 20px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    font-size: 22px;
  }

nav a {
    padding: 14px 20px;
    color: black;
}

.parent-img{
    position: relative;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
} 

.panaramic-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
}

.profile-img{
    width: 150px;
    display: flex;
    border-radius: 100%;
    border: 3.5px solid white;
    position: absolute;
    top: -20px;
    left: 10px;
}
.work{
    background-color: rgb(240, 240, 240);
    padding-top: 20px;
}
.work h2{
    align-items: center;
    align-content: center;
}
.work div h3{
    display: block;
    height: 300px;
    background-color: rgb(253, 253, 253);
    border-radius: 20px;
    position: relative;
    padding: 25px;
    justify-content: center;
    align-content: center;
    border: 1px, solid, black;
} 
.work div section{
    display: flex;
    position: absolute;
    top: 80px;
}
.work div h4{
    display: flex;
    /* background-color: red; */
    margin: 0px 50px auto

}
#about p{
    width: 60%;
    word-wrap: normal;
}
.solid {
    border-top: 1px solid #636262;
}
.vl{
    border-right: 300px solid white;
}
footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #636262;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
}